# Simple predict with Sklearn
Mempredikasi gaji seseorang berdasarkan jumlah tahun pengalaman

In [9]:
import pandas as pd
import numpy as np

In [10]:
df1 = pd.read_csv('salary.csv')
df1.head()

   YearsExperience   Salary
0              1.1  3934300
1              1.3  4620500
2              1.5  3773100
3              2.0  4352500
4              2.2  3989100

In [11]:
# menentukan algoritma model
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [12]:
# memisahkan data
x = df1.drop('Salary',axis =1)
y= df1['Salary']

In [13]:
# memerintahkan model untuk mempelajari data dengan .fit()
reg.fit(x,y)

LinearRegression()

In [14]:
# mendefinisikan data yang akan diprediksi
x_new = np.array([4.9,5.1,5.3,5.9,6]).reshape(-1,1)

In [15]:
# mengaplikasikan model ke data yang akan di prediksi
reg.predict(x_new)

array([6611945.58117938, 6749014.67265129, 6886083.7641232 ,
       7297291.03853893, 7365825.58427488])

hasil diatas merupakan hasil pembelajaran dari model terhadap gaji berdasarkan pengalaman kerja